.list-item{
  padding: 0 4% 30px;
  height: 200px;
  background: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  .list-img{
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
  .list-title{
    margin: 10px 0;
    font-size: 32px;
    font-weight: bold;

  }
  .list-info{
    font-size: 24px;
    color: #666;
    line-height: 38px;
  }


  .list-price-wrap{
    margin-top: 18px;
    font-size: 24px;
    .list-my-price{
      color: rgb(209, 0, 0);
      float: right;
    }
  }

}
