.news-warp{
  margin: 30px 15px 0;
  background-color: rgba($color: #fff, $alpha: .85);
  .news-wrap-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .news-list-wrap{
    padding-top: 60px;
    overflow-x: auto;
  }
  .news-list{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    width: 520vw;

  }
}