.news-warp{
  margin: 30px 15px 0;
  padding-top: 20px;
  background-color: rgba($color: #fff, $alpha: .85);
  .news-wrap-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 56px;
    text-indent: 15px;
  }
  .news-list-wrap{
    padding: 60px 0;
    margin-top: 20px;
    overflow-x: auto;
  }
  .news-list{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    width: 520vw;

  }
}