.order-news{
  margin: 30px 15px 0;
  padding: 40px;
  box-shadow: 0 20px 30px #ddd;
  background-color: rgba($color: #fff, $alpha: .85);

  .news-main-text{
    font-size: 64px;
    line-height: 96px;
    font-weight: 700;
    background-image: url('https://ipxcdn.jfshare.com/ipxmall/9a15d6c8175c847bae90b3dadad49275');
    background-size: cover;
    background-position: center;
    background-clip: text;
    color: transparent;
    transition: all 2.5s ease-in-out;
  }
  .order-news-btn{
    margin-top: 30px;
    background-color: #47aeb9;
    border-color: #47aeb9;
  }
}